*.DS_Store
proto/include/.DS_Store
proto/include/implem/.DS_Store
execPlot/fromFile/output/
execPlot/fromFile/input/
*.vtk
*.2d
*.exe
*.table
.vscode/
.idea/
*.curve
*.txt
cmake-build-debug/
*.exe.*
execPlot/
doc/
testExec/